dotfiles/.config/cosmic
dotfiles/.config/DankMaterialShell/.changelog*
dotfiles/.config/DankMaterialShell/.firstlaunch
dotfiles/.config/danksearch
dotfiles/.config/dconf
dotfiles/.config/dgop
dotfiles/.config/fastfetch
dotfiles/.config/gtk-3.0
dotfiles/.config/gtk-4.0
dotfiles/.config/ibus
dotfiles/.config/kitty/dank-tabs.conf
dotfiles/.config/kitty/dank-theme.conf
dotfiles/.config/nautilus
dotfiles/.config/pulse
dotfiles/.config/sparkle
dotfiles/.config/yay
dotfiles/.config/yazi
dotfiles/.config/zen
dotfiles/.config/startship.toml
dotfiles/.config/user-dirs*
dotfiles/.config/xdg-terminals.list
