// 整合版 binds.kdl：Shorin 核心配置 + DMS 特有功能与媒体控制

binds {

    // =========================================================
    // Mod 快捷键 (按修饰键数量 + 字母先于符号/数字)
    // Mod+Key → Mod+Shift/Ctrl/Alt+Key → Mod+Shift+Ctrl+Key ...
    // =========================================================

    Mod+A hotkey-overlay-title="AI助手 pi agent" { spawn "kitty" "--class" "pi" "-e" "pi"; }      
    Mod+B hotkey-overlay-title="浏览器 Browser" { spawn "zen-browser"; }
    Mod+C { center-column; }
    Mod+E hotkey-overlay-title="文档管理器 Filemanager" { spawn-sh "thunar || env GSK_RENDERER=gl nautilus --new-window"; }
    Mod+F  hotkey-overlay-title="最大化 maximize" { maximize-column; }
    Mod+G hotkey-overlay-title="切换总览界面 toggle overview" repeat=false { toggle-overview; }
    Mod+H     { focus-column-left; }
    Mod+I                  hotkey-overlay-title="切换到上方工作区 Focus workspace up" { focus-workspace-up; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+M hotkey-overlay-title="收起窗口 Move to Sidebar" { spawn "niri-sidebar" "toggle-window"; }
    Mod+N hotkey-overlay-title="切换浮动聚焦 Change focus to floating" { switch-focus-between-floating-and-tiling; }
    Mod+O hotkey-overlay-title="切换总览界面 toggle overview" repeat=false { toggle-overview; }
    Mod+P hotkey-overlay-title="提取窗口信息 Pick information" { spawn "~/.config/niri/scripts/niri-pick" "focus"; }
    Mod+Q hotkey-overlay-title="关闭聚焦窗口 Close focus window" repeat=false { close-window; }
    Mod+R  hotkey-overlay-title="按预设切换宽度 Switch width " { switch-preset-column-width; }
    Mod+S { move-window-down; }
    Mod+T hotkey-overlay-title="共享终端 Terminal" { spawn "kitty" "--single-instance"; }
    Mod+U                  hotkey-overlay-title="切换到下方工作区 Focus workspace down" { focus-workspace-down; }
    Mod+V   hotkey-overlay-title="切换浮动 Toggle floating"    { toggle-window-floating; }
    Mod+W { move-window-up; }
    Mod+Y hotkey-overlay-title="Browse Wallpapers" { spawn "dms" "ipc" "call" "dankdash" "wallpaper"; }
    // Mod+Z hotkey-overlay-title="程序菜单 Applauncher" { spawn-sh "dms ipc call spotlight toggle || fuzzel"; }
    Alt+space hotkey-overlay-title="程序菜单 Applauncher" { spawn-sh "dms ipc call spotlight toggle || fuzzel"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Down  { focus-window-down; }
    Mod+End  { focus-column-last; }
    Mod+Equal { set-column-width "+5%"; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+F1 hotkey-overlay-title="取色器 Color Picker" {spawn "dms" "color" "pick" "-a";}
    Mod+F2 hotkey-overlay-title="设置 Settings" { spawn-sh "dms ipc call settings focusOrToggle";}
    Mod+F3 hotkey-overlay-title="录屏 Screen record" { spawn "shorin-screenrec-menu";}
    Mod+F4 hotkey-overlay-title="开关输入法 Toggle fcitx" {spawn-sh "pkill fcitx5 || fcitx5 ";}
    Mod+F5 hotkey-overlay-title="快速存档 Quick save" {spawn "quicksave";}
    Mod+F8 hotkey-overlay-title="快速读档 Quick load" {spawn "quickload";}
    Mod+Home { focus-column-first; }
    Mod+Left hotkey-overlay-title=null { focus-column-left; }
    Mod+Minus { set-column-width "-5%"; }
    Mod+MouseBack    { focus-window-down; }
    Mod+MouseForward { focus-window-up; }
    Mod+MouseMiddle  { close-window; }
    Mod+Page_Down          { focus-workspace-down; }
    Mod+Page_Up            { focus-workspace-up; }
    Mod+Period { expel-window-from-column; }
    Mod+Right { focus-column-right; }
    Mod+Up    { focus-window-up; }
    Mod+WheelScrollDown   hotkey-overlay-title="滚轮切换聚焦 Change focus with wheel"   { focus-column-right; }
    Mod+WheelScrollUp        { focus-column-left; }

    Mod+Alt+A  hotkey-overlay-title="选取区域截图 Select screenshot"  {spawn-sh "niri msg action screenshot --show-pointer false && pkill -f -USR1 screenshot-sound.sh";}
    Mod+Alt+E hotkey-overlay-title=null {spawn "env" "GSK_RENDERER=gl" "nautilus" "--new-window";}
    Mod+Alt+F hotkey-overlay-title="全屏 fullscreen"  { fullscreen-window; }
    Mod+Alt+L hotkey-overlay-title="锁屏 Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Mod+Alt+N hotkey-overlay-title=null { switch-focus-between-floating-and-tiling; }
    Mod+Alt+P hotkey-overlay-title="挂起 Suspend" { spawn-sh "niri msg action power-off-monitors && dms ipc call lock lock && systemctl suspend";}
    Mod+Alt+R hotkey-overlay-title="重置侧边栏 Reorder Sidebar"  { spawn "niri-sidebar" "reorder"; }
    Mod+Alt+S hotkey-overlay-title="收起窗口 Move to Sidebar" { spawn "niri-sidebar" "toggle-window"; }
    Mod+Alt+V hotkey-overlay-title="剪贴板 Clipboard" {spawn "dms" "ipc" "call" "clipboard" "toggle";} 
    Mod+Alt+X hotkey-overlay-title=null { spawn "niri-sidebar" "flip";}
    Mod+Alt+Z hotkey-overlay-title="展开/收起侧边栏 Toggle Sidebar" { spawn "niri-sidebar" "toggle-visibility";}

    Mod+Ctrl+A  { move-column-left; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Ctrl+D { move-column-right; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+I             { move-column-to-workspace-up; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Ctrl+U             { move-column-to-workspace-down; }

    Mod+Shift+E hotkey-overlay-title="退出niri Quit niri" { quit; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+I            hotkey-overlay-title="移动工作区到上方 Move workspace up" { move-workspace-up; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }
    Mod+Shift+N hotkey-overlay-title="记事本 Notepad" { spawn "dms" "ipc" "call" "notepad" "toggle"; }
    Mod+Shift+P { power-off-monitors; }
    Mod+Shift+R  { switch-preset-window-height; }
    Mod+Shift+S  hotkey-overlay-title="截图后按下此键进行编辑 Edit the image after screenshot" { spawn-sh "wl-paste | satty -f -";}
    Mod+Shift+U            hotkey-overlay-title="移动工作区到下方 Move workspace down" { move-workspace-down; }
    Mod+Shift+V hotkey-overlay-title=null { switch-focus-between-floating-and-tiling; }
    Mod+Shift+W hotkey-overlay-title="Create window rule" { spawn "dms" "ipc" "call" "window-rules" "toggle"; }
    Mod+Shift+X { toggle-column-tabbed-display; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Ctrl+End  { move-column-to-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+Left hotkey-overlay-title=null { move-column-left; }
    Mod+Ctrl+Right hotkey-overlay-title=null { move-column-right; }
    Mod+Ctrl+WheelScrollDown { move-column-right; }
    Mod+Ctrl+WheelScrollUp   { move-column-left; }

    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Equal { set-window-height "+5%"; }
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Page_Down    { move-workspace-down; }
    Mod+Shift+Page_Up      { move-workspace-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+Slash hotkey-overlay-title="快捷键教程 Keybind tutorial" { spawn "~/.config/niri/scripts/niri-binds"; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+WheelScrollDown  hotkey-overlay-title="切换工作区 Change workspaces"    cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

    Mod+Alt+Ctrl+A  hotkey-overlay-title="截取聚焦窗口 Focus-window screenshot" { spawn-sh "niri msg action screenshot-window && pkill -f -USR1 screenshot-sound.sh"; }

    Mod+Shift+Alt+A  { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+D  { move-workspace-to-monitor-right; }
    Mod+Shift+Alt+H  { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+J  { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+K  { move-workspace-to-monitor-up; }
    Mod+Shift+Alt+L  { move-workspace-to-monitor-right; }
    Mod+Shift+Alt+S  { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+W  { move-workspace-to-monitor-up; }

    Mod+Shift+Ctrl+A     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+D     { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+S     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+W     { move-column-to-monitor-up; }

    Mod+Shift+Alt+Down  { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+Left  { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+Right  { move-workspace-to-monitor-right; }
    Mod+Shift+Alt+Up  { move-workspace-to-monitor-up; }

    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+Alt+Ctrl+Shift+A  hotkey-overlay-title="截取显示器 Monitor screenshot" { spawn-sh "niri msg action screenshot-screen --show-pointer false && pkill -f -USR1 screenshot-sound.sh"; }

    // =========================================================
    // 其他快捷键
    // =========================================================

    Ctrl+XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "decrement" "3"; }
    Ctrl+XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "increment" "3"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "3"; }
    XF86AudioMicMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "micmute"; }
    XF86AudioMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioNext allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "next"; }
    XF86AudioPause allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioPlay allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioPrev allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "previous"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "3"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    Alt+XF86Launch1 { screenshot-window; }
    Ctrl+XF86Launch1 { screenshot-screen; }
    XF86Launch1 { screenshot; }
    Ctrl+Print  hotkey-overlay-title=null { spawn-sh "niri msg action screenshot-window --show-pointer false && pkill -f -USR1 screenshot-sound.sh"; }
    Print  hotkey-overlay-title=null {spawn-sh "niri msg action screenshot --show-pointer false && pkill -f -USR1 screenshot-sound.sh";}
    Shift+Print  hotkey-overlay-title=null { spawn-sh "niri msg action screenshot-screen --show-pointer false && pkill -f -USR1 screenshot-sound.sh"; }
    Alt+F4  hotkey-overlay-title="强制杀死窗口 Force kill -9 window" repeat=false { spawn "~/.config/niri/scripts/niri-force-kill-window"; }
    Alt+Shift+F4  hotkey-overlay-title="强制杀死窗口以及关联进程 Force kill -9 a window tree" repeat=false { spawn "~/.config/niri/scripts/niri-force-kill-window" "-f"; }
    Alt+grave hotkey-overlay-title=null { switch-focus-between-floating-and-tiling; }
    Ctrl+Alt+Delete hotkey-overlay-title="任务管理器 Task Manager" { spawn "dms" "ipc" "call" "processlist" "focusOrToggle"; }
    Ctrl+Shift+R hotkey-overlay-title="Rename Workspace" { spawn "dms" "ipc" "call" "workspace-rename" "open"; }
    Super+X hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }

}
